/*SITE ARTICLE*/

.site-art{
    padding-bottom: 80px;
}
.site-art__text-box{
    margin: 0 auto;
    max-width: 390px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.site-art__title{
    padding-bottom: 30px;
    font-family: 'Ibarra Real Nova';
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
}
.site-art__line{
    display: none;
    width: 234px;
    height: 2px;
    background-color: #33323D;
    opacity: 0.15;
}
.site-art__link{
    display: block;
    width: 162px;
    padding: 17px 26px 17px 26px;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #33323D;
    border: 1px solid #33323D;
    transition: 0.5s;
    
    &:hover{
        color: #fff;
        background: #33323D;
    }
}

@include mobile-first (675px){
    .site-art__text-box{
        margin: 0;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
    .site-art__title{
        text-align: left;
        max-width: 350px;
        padding-bottom: 0;
    }
    .site-art__line{
        display: block;
        width: 100px;
    }
    
}

@include mobile-first (835px){
    .site-art__line{
        display: block;
        width: 285px;
    }
}