/*TITLE*/
.title{
    padding-top: 50px;
    padding-bottom: 500px;
    margin: 0 auto;
    font-family: 'Ibarra Real Nova';
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D; 
}